
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    font-family: 'Kumbh Sans';
}

// --------- COLORS ---------
//Guardando uma cor em uma variável, duas formas de se fazer isso

$background: rgb(25, 161, 173);

:root {
    --color-white-200: #fff;
    --color-grey-200: rgb(181, 181, 183);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: $background;
    height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;

    .backgImgTop{
        // width: 600px;
        position: relative;
        margin-left: -15rem;
        margin-top: -50%;
        z-index: 1;
    }

    .backgImgBottom{
        position: relative;
        margin-right: -15rem;
        margin-bottom: -60%;
        z-index: 1;
        
    }

    .card {
        width: 400px;
        height: 430px;
        background-color: var(--color-white-200);
        border-radius: 15px;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
        z-index: 2;
        position: absolute;

        .coverImg{
            width: 400px;
            z-index: 1;
            border-top-right-radius: 15px;
            border-top-left-radius: 15px;
        }

        .userImg{
            width: 110px;
            height: 110px;
            border: 5px solid var(--color-white-200);
            border-radius: 50%;
            z-index: 2;
            margin-top: -15%;
        }

        .header{
            margin: 0 auto;
            width: 190px;
            height: 50px;
            display: flex;
            flex-direction: row;
            justify-content: center;
        
            .age{
                margin-left: 15px;
                color: var(--color-grey-200);
                font-size: 19px;
            }
        }

        .city{
            margin-top: -1px;
            color: var(--color-grey-200);
        }

        
        .main{
            margin-top: 8%;
            border-top: 0.5px solid var(--color-grey-200);

            .mainBox{

                display: flex;
                flex-direction: row;
                width: 320px; 
                margin: 0 auto;
                margin-top: 15px;
                justify-content: space-around;
                
                .boxes{
                    display: flex;
                    flex-direction: column;
                    line-height: 10px;
    
                    .boxesText{
                        color: var(--color-grey-200);
                    }
                }
            
            }

        }
        
        
    }
}
